
# sgo
## just developers' notes
/notes
## no egg use
/.cache
/.idea


# python
*.pyc

# Flask stuff:
## mainly for Admin PW currently
/sgo/instance


# no egg use blow
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints
.ipynb

# celery beat schedule file
celerybeat-schedule

sgo/__pycache__/
sgo/auth/__pycache__/
sgo/lbs/__pycache__/
sgo/media/__pycache__/
sgo/rtm/__pycache__/
sgo/static/pics/
sgo/store/__pycache__/
sgo/user/__pycache__/
sgo/views/__pycache__/
tests/__pycache__/

